.banner{
    background-image: url("../img/imagen\ principal.png");
    padding: 15% 5% 30% 10%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.banner::after{
    content: '';
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.45;
    z-index: -1;
}

.fuente{
    font-family: 'Edu NSW ACT Foundation', cursive;
}

.footer{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    gap: 50px;
}

.contenedor1{
    height: 250px;
    width: 910px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.contenedor2{
    height: 150px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: 10px;
    font-weight: 10px;
}

.social1{
    margin: 2% auto;
    height: 40px;
    width: 40px;
    background-image: url(https://thumbs.dreamstime.com/b/icono-del-logo-de-facebook-voronezh-rusia-noviembre-cuadrado-en-color-azul-164585769.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center ;
    
}

.social2{
    margin: 2% auto ;
    height: 40px;
    width: 40px;
    background-image: url(https://i0.wp.com/eltallerdehector.com/wp-content/uploads/2022/06/cd939-logo-instagram-png.png?fit=512%2C512&ssl=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.social3{
    margin: 2% auto;
    height: 40px;
    width: 40px;
    background-image: url(https://1000marcas.net/wp-content/uploads/2019/11/WhatsApp-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}